<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="color-scheme" content="light" />
  <% prudai_asset_version = ENV.fetch('PRUDAI_ASSET_VERSION', '20260326-6') %>
  <title><%= Setting.get('product_name') %></title>
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/prudai-favicon.png?v=<%= prudai_asset_version %>" />
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/prudai-favicon.png?v=<%= prudai_asset_version %>" />
  <link rel="shortcut icon" type="image/png" href="/assets/prudai-favicon.png?v=<%= prudai_asset_version %>" />
  <link rel="apple-touch-icon" href="/assets/prudai-favicon.png?v=<%= prudai_asset_version %>" />
  <meta name="theme-color" content="#345CF3" />
  <%= stylesheet_link_tag "#{path_to_stylesheet('application.css')}?v=#{prudai_asset_version}", :media => 'all' %>
  <%= stylesheet_link_tag "#{path_to_stylesheet('application-print.css')}?v=#{prudai_asset_version}", :media => 'print' %>
  <%= javascript_tag nonce: true do -%>
    if(window.MSInputMethodContext && document.documentMode){
      var polyfillScriptTag = document.createElement('script');
      polyfillScriptTag.setAttribute('src', '<%= path_to_javascript('ie11CustomProperties.min') %>');
      polyfillScriptTag.setAttribute('nonce', '<%= content_security_policy_nonce %>');
      document.head.appendChild(polyfillScriptTag);
    }

    try {
      var storedTheme = localStorage.getItem('theme');

      if (!storedTheme && !window.location.href.includes('/tests_')) {
        localStorage.setItem('theme', 'light');
        storedTheme = 'light';
      }

      document.documentElement.dataset.theme = storedTheme === 'dark' ? 'dark' : 'light';
    } catch (e) {
      document.documentElement.dataset.theme = 'light';
    }
  <% end -%>
  <% if Rails.configuration.assets.debug %>
    <%= javascript_include_tag "application", nonce: true %>
  <% else %>
    <%= javascript_include_tag "application", nonce: true, :defer => 'defer' %>
  <% end %>

  <%# Statically include external files with a nonce here to conform to CSP properly. %>
  <%# Required by form channel configuration preview. %>
  <%= javascript_include_tag "../assets/form/form.js", nonce: true, :defer => 'defer', :skip_pipeline => true, :id => "zammad_form_script"  %>

  <%# Required for browser time mocking in tests. %>
  <% if Rails.env.test? %>
    <%= javascript_include_tag "../assets/tests/sinon-9.2.4.js", nonce: true, :skip_pipeline => true, :id => "zammad_form_script"  %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

  <%= content_for?(:content) ? yield(:content) : yield %>

</body>
</html>
